# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar

# Maven
target/

# Gradle
build/

# IDE settings
.idea/
*.iml
.DS_Store

# Other common directories and files to ignore
bin/
out/
